---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import { getCollection } from "astro:content";

import Plugin from "../../../components/custom-pages/Plugin.astro";
import { pluginsConfig } from "../../../config";

const communityPlugins = await getCollection("communityPlugins");

const headings = [
  ...communityPlugins.map((plugin) => ({
    depth: 2,
    text: plugin.data.name,
    slug: plugin.data.slug,
  })),
];
---

<StarlightPage
  frontmatter={{
    title: "Hardhat 3 community plugins",
    description: "A directory of Hardhat 3 community plugins",
    lastUpdated: false,
    editUrl: false,
    next: false,
    prev: false,
  }}
  headings={headings}
>
  <div class="community-plugins">
    <div>
      Community Plugins are developed and maintained by the Hardhat community.
      They have not been written, reviewed, or endorsed by Nomic Foundation, so
      please use them at your own risk.
    </div>

    <div>
      If you believe a plugin in this list is malicious, please report it to{
        " "
      }
      <a href={`mailto:${pluginsConfig.maliciousPluginReportingEmail}`}>
        {pluginsConfig.maliciousPluginReportingEmail}
      </a>
      .
    </div>
  </div>

  <h3>Community plugins sorted by npm downloads</h3>
  {
    communityPlugins.map((plugin) => (
      <div>
        <Plugin
          name={plugin.data.name}
          href={plugin.data.website}
          author={plugin.data.author}
          authorUrl={plugin.data.authorUrl}
          description={plugin.data.description}
          tags={plugin.data.tags}
          anchorSlug={plugin.data.slug}
        />
      </div>
    ))
  }
</StarlightPage>

<style lang="sass">
  h3
    font-size: 1.5rem
    margin-bottom: 2rem
</style>
