---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import AnchorHeading from "@astrojs/starlight/components/AnchorHeading.astro";
import { getCollection } from "astro:content";

import Plugin from "../../../components/custom-pages/Plugin.astro";
import { pluginsConfig } from "../../../config";

const officialPlugins = await getCollection("officialPlugins");
const communityPlugins = await getCollection("communityPlugins");

const headings = [
  { depth: 2, text: "Official Plugins", slug: "official-plugins" },
  ...officialPlugins.map((plugin) => ({
    depth: 3,
    text: plugin.data.shortName,
    slug: plugin.data.slug,
  })),
  { depth: 2, text: "Community Plugins", slug: "community-plugins" },
];
---

<StarlightPage
  frontmatter={{
    title: "Hardhat Plugins",
    description: "A directory of Hardhat 3 plugins",
    lastUpdated: false,
    editUrl: false,
    next: false,
    prev: false,
  }}
  headings={headings}
>
  <div class="description">
    <p></p>
    Extend Hardhat's functionality with the plugins below.

    <p>
      To learn how to create your own, check out our{" "}
      <a href="/plugin-development"> plugin development documentation</a>.
    </p>
  </div>

  <AnchorHeading level={2} id="official-plugins">
    Official Plugins
  </AnchorHeading>
  {
    officialPlugins.map((plugin) => (
      <div>
        <Plugin
          name={plugin.data.name}
          href={plugin.data.website}
          author={pluginsConfig.officialPluginsAuthor}
          authorUrl={pluginsConfig.officialPluginsAuthorUrl}
          description={plugin.data.description}
          tags={plugin.data.tags}
          anchorSlug={plugin.data.slug}
        />
      </div>
    ))
  }

  <AnchorHeading level={2} id="community-plugins">
    Community Plugins
  </AnchorHeading>
  <div class="community-plugins">
    <div>
      Community Plugins are developed and maintained by the Hardhat community.
      They have not been written, reviewed, or endorsed by Nomic Foundation, so
      please use them at your own risk.
    </div>

    <div>
      If you believe a plugin in this list is malicious, please report it to{
        " "
      }
      <a href={`mailto:${pluginsConfig.maliciousPluginReportingEmail}`}>
        {pluginsConfig.maliciousPluginReportingEmail}
      </a>
      .
    </div>
  </div>

  <h3>Community plugins sorted by npm downloads</h3>
  {
    communityPlugins.map((plugin) => (
      <div>
        <Plugin
          name={plugin.data.name}
          href={plugin.data.website}
          author={plugin.data.author}
          authorUrl={plugin.data.authorUrl}
          description={plugin.data.description}
          tags={plugin.data.tags}
        />
      </div>
    ))
  }
</StarlightPage>

<style lang="sass">
  h3
    font-size: 1.5rem
    margin-bottom: 2rem
</style>
